<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <main class="centered">
        <div class="card">
            <h3>Họ và tên: </h3>
            <p>Thời gian bắt đầu: </p>
            <p>Thời gian kết thúc: </p>
            <p>Nơi làm việc: </p>
            <p>Thời gian làm thêm: </p>
            <p>Thời gian nghĩ phép: </p>
        </div>
        <div class="card">
            <h3>Chi tiết lương tháng</h3>
            <p>Chọn tháng:</p>
            <p>Lương = salaryScale * 3000000 + (overTime - số giờ làm thiếu) * 200000</p>
            <p>'Lương' = 'salaryScale' * 3000000 + ('overTime' - 'số giờ làm thiếu') * 200000</p>
        </div>
    </main>

<%- include('includes/end.ejs') %>